<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active {
            background: blue;
            color: #fff;
        }
    </style>
</head>

<body>

    <div class="" id="app">
        <header>
            <h1 v-html="name"></h1>
            <input type="text" v-model="name">
            <p>{{ pesan }}</p>
            <h3>{{ bilangan }}</h3>
            <p>Bilangan ini adalah {{ ganjilGenap }}</p>
            <img src="./img/logo.svg" alt="" width="35px">
            <img :src="gambar" alt="" width="35px">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <button @click="handleClick()">
                Teken
            </button>
            <br><br>
            <ul>
                <li v-for="k in kelas" v-text="k"></li>
            </ul>
            <p>Daftar kelas {{ kelas.length}}</p>
            <template v-if="kelas.length">
                <ul>
                    <li v-for="(k, index) in kelas">{{ index+1 }} - {{k}}</li>
                </ul>
            </template>
            <li v-else>Kelas Belum Tersedia</li>

            <ul>
                <li v-for="x in cariBilanganGenap(numbers)" v-text="x"></li>
            </ul>
            <p>{{ kelas }}</p>
            <label> <input type="checkbox" value="vue" v-model="kelas"> Vue </label>
            <label> <input type="checkbox" value="native" v-model="kelas"> Native</label>
            <label> <input type="checkbox" value="react" v-model="kelas"> React</label>
            <br>
            <br>

            <a href="#" :class="{ active:menu === 'home'}" @click.prevent="menuActive('home')">Home</a>
            <a href="#" :class="{ active:menu === 'about'}" @click.prevent="menuActive('about')">About</a>
            <a href="#" :class="{ active:menu === 'blog'}" @click.prevent="menuActive('blog')">Blog</a>

            <br><br>
            <h1>Form</h1>
            <p><input type="text" placeholder="Nama" v-on:keyup.enter="submit" v-model="kelasBaru"></p>

        </header>
        <footer id="footer">
            <p>Copyright 2021</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>

        const member = {
            name: "doremi fasolasido",
            pesan: "halo halooo",
            active: true,
            qty: 3,
            namaDepan: 'wahyu',
            namaBelakang: "purnama",
            bilangan: 1,
            gambar: 'img/1.jpeg',
            menu: "home",
            Active: false,
            kelas: ['golang', 'java', 'js', 'php'],
            numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            kelasBaru: [],

        }

        const vm = new Vue({
            el: '#app',
            data: member,
            methods: {
                getName: function () {
                    return "hello " + this.name
                },
                rename: function (namaBaru) {
                    this.name = namaBaru
                    return this.getName()
                },
                handleClick: function () {
                    this.bilangan++
                    this.gambar = "img/wahyu.jpg"
                },
                menuActive: function (m) {
                    return this.menu = m
                },
                cariBilanganGenap: (data) => {
                    return data.filter(i => {
                        return i % 2 == 1
                    })
                },
                submit: function () {
                    this.kelas.unshift(this.kelasBaru)
                    this.kelasBaru = ""
                }

            },
            computed: {
                totalBayar: function () {
                    return this.qty * 10000
                },
                namaLengkap: function () {
                    return this.namaDepan + " " + this.namaBelakang
                },
                ganjilGenap: function () {
                    return this.bilangan % 2 === 0 ? 'Genap' : 'Ganjil'
                }
            }
        })
    </script>
</body>

</html>